[submodule "/home/aris/.config/nvim"]
	path = /home/aris/.config/nvim
	url = git@github.com:abane94/kickstart.nvim.git
[submodule "/home/aris/.tmux/plugins/tpm"]
	path = /home/aris/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
